footer{
    border-top: var(--border);
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

footer section, footer section > div, footer section ul{
    display: flex;
    gap: 20px;
}

footer section{
    justify-content: space-around;
    padding: 0px 40px;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}


